<template>
    <b-modal v-model="show"
    size="lg"
    centered
    ref="bookModal"
    :no-close-on-backdrop="true"
    :no-close-on-esc="true"
    title-tag="h4"
    cancel-variant="cancel"
    @ok="onSubmit($event)"
    @hidden="closeModal">
    <template slot="modal-title">
      {{ modalArguments.modal_title }}
    </template>
    <div class="d-block text-center">
        <div class="container">
            <div class="row form-row">
                <div class="col">
                    <div class="row">
                        <div class="col-2">Ttile</div>
                        <div class="col">
                            <input class="form-control"
                            type="text"
                            placeholder="Type in a titla"
                            v-model="name"
                            :class="errors && errors.name ? 'is-invalid' : ''">
                                <div class="invalid-feedback"
                                v-if="errors && errors.name">
                                        {{ errors.name[0]}}
                                </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row form-row">
                <div class="col">
                    <div class="row">
                        <div class="col-2">
                            Author:
                        </div>
                        <div class="col multiselect">
                            <multiselect
                                :class="errors && errors.author_id ? 'invalid' : ''"
                                track-by="id"
                                label="name"
                                placeholder="Select an author"
                                :options="authors"
                                :searchable="true"
                                :show-labels="false"
                                :allowEmpty="true"
                                v-model="selectedAuthor">
                            </multiselect>
                            <div class="invalid-feedback"
                            v-if="errors && errors.author_id">
                                    {{ errors.author_id[0]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="col">
                    <div class="row">
                        <div class="col-2">
                            Tags:
                        </div>
                        <div class="col">
                            <multiselect
                                :class="errors && errors.tags ? 'invalid' : ''"
                                track-by="id"
                                label="name"
                                :options="tags"
                                :searchable="true"
                                :multiple="true"
                                :close-on-select="false"
                                :show-labels="false"
                                :allowEmpty="true"
                                v-model="selectedTags">
                            </multiselect>
                            <div class="invalid-feedback"
                            v-if="errors && errors.tags">
                                    {{ errors.tags[0]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="col">
                    <div class="row">
                        <div class="col-2">
                            Description:
                        </div>
                        <div class="col">
                            <textarea
                            class="form-control"
                            name="description"
                            id="description"
                            cols="30"
                            rows="10"
                            v-model="description"
                            :class="errors && errors.description ? 'is-invalid' : ''"></textarea>
                            <div class="invalid-feedback"
                            v-if="errors && errors.description">
                                    {{ errors.description[0]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="col">
                    <div class="row">
                        <div class="col-2">
                            Cover image:
                        </div>
                        <div class="col">
                            <label for="upload-cover">
                                <span class="btn btn-primary">{{ modalArguments.is_edit ? 'Upload a different cover image' : 'Upload cover image'}}</span>
                            </label>
                            <input type="file" name="attachment" id="upload-cover" accept="'.jpg, .png" ref="file" style="display:none;" @change="handleUpload">
                            <span class="is-danger" v-if="errors && errors.cover_image">
                                You need to upload a cover image
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </b-modal>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    //creates a form data object
    //alows us to NOT use a form html tag
    function getFormData(object) {
        let formData = new FormData();
        Object.keys(object).forEach(key => formData.append(key, object[key]));

        return formData;
    }

    let attachment = null;


    export default {
        props : {
            /**
             * Any custom arguments the modal might require
             */
            modalArguments : {
                type : Object,
                required : false,
                default : () => {
                    return {}
                }
            },

            /**
             * The show trigger boolean
             */
            showTrigger : {
                type : Boolean,
                required : true,
                default : false
            }
        },
        components : {
            'multiselect' : Multiselect
        },
        created() {
            this.getData();
            if(this.modalArguments.is_edit) {
                this.setupEdit();
            }
        },
        data() {
            return {
                show : this.showTrigger,
                authors: [],
                tags: [],
                selectedAuthor: [],
                selectedTags: [],
                description: '',
                name: '',
                errors: ''
            }
        },
        methods: {
            /**
             * @public
             * @description
             * Sets the data from our existing book
             */
            setupEdit() {
                this.selectedAuthor = this.modalArguments.book.author;
                this.selectedTags = this.modalArguments.book.tags;
                this.description = this.modalArguments.book.description;
                this.name = this.modalArguments.book.name;
            },
            /**
             * @public
             * @description
             * Makes sure our uploaded file is stores in the attachment var
             */
            handleUpload() {
                attachment = this.$refs.file.files;
            },
            /**
             * @public
             * @description
             * Gets a list of tags and authors
             */
            getData() {
                axios.get('/tags-and-authors')
                .then(response => {
                    this.authors = response.data.authors;
                   this.tags = response.data.tags;
                })
                .catch(error => {
                    this.alertMessage = error.response.data.message;
                });
            },
            /**
             * @public
             * @description
             * Handles form and submits the data
             */
            onSubmit(bvEvt) {
                bvEvt.preventDefault();
                let data = getFormData({});
                data.append('name', this.name);

                if(attachment && attachment.length > 0) {
                    data.append('cover_image', attachment[0]);
                }

                if(this.description !== '') {
                    data.append('description', this.description);
                }

                if(this.selectedAuthor && this.selectedAuthor.id) {
                    data.append('author_id', this.selectedAuthor.id);
                }

                if(this.selectedTagIds.length > 0) {
                    data.append('tags', JSON.stringify(this.selectedTagIds));
                }

                if(this.modalArguments.is_edit) {
                    axios.post('/books/edit/' + this.modalArguments.book.id + '?_method=PATCh', data)
                    .then((response)  => {
                        this.closeModal();
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
                } else {
                    axios.post('/books/create', data)
                    .then((response)  => {
                        this.closeModal();
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
                }


            },
            /**
             * @public
             * @description
             * Closes the modal
             */
            closeModal() {
                this.$emit('close', {});
            }
        },
        computed: {
            /**
             * @public
             * @description
             * And array of selected tag ids
             */
            selectedTagIds() {
                let ids = [];

                for(let i = 0, tag; tag = this.selectedTags[i]; i++) {
                    ids.push(tag.id);
                }

                return ids;
            }
        }
    }
</script>
<style lang="scss">
    div.form-row {
        margin-bottom: 15px;
    }

    div.multiselect.invalid {
        div.multiselect__tags {
            border-color: red;
        }
    }

    span.is-danger {
        display: inherit;
        color: red;
        font-size: 12px;
    }
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
