<template>
    <div class="container books-container">
        <h3>Books</h3>
        <button class="btn btn-primary" @click="toggleNewBookModal()">Add new</button>
        <table class="table table-bordered">
          <thead>
            <tr class="table-secondary">
              <th scope="col">Cover</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Tags</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(book, index) in books" :key="index">
                <td>
                    <img :src="book.cover_image_url" alt="" width="150px">
                </td>
              <td>{{ book.name }}</td>
              <td>{{ book.author.name }}</td>
              <td>{{ displayTags(book.tags) }}</td>
              <td>{{ book.description }}</td>
              <td class="action-buttons">
                <span @click="editBook(book)">Edit</span>
                <span @click="deleteBook(book.id)">Delete</span>
            </td>
            </tr>
          </tbody>
        </table>

        <book-modal
        v-if="modalShowing"
        :showTrigger="modalShowing"
        :modal-arguments="modalArguments"
        @close="modalHidden()"></book-modal>
    </div>
</template>

<script>
    import bookModal from './book-form-modal';
    export default {
        components: {
            'book-modal': bookModal
        },
        mounted() {
            this.getBooks();
        },
        data() {
            return {
                books: [],
                modalShowing : false,
                modalArguments : {}
            }
        },
        methods: {
            /**
             * @public
             * @description
             * Toggles the edit modal after data setup
             */
            editBook(book) {
                this.modalArguments.modal_title = 'Add a new book';
                this.modalArguments.is_edit = true;
                this.modalArguments.book = book;
                this.toggleModal();
            },
            /**
             * @public
             * @description
             * Toggles the same modal but for a new book form
             */
            toggleNewBookModal() {
                this.modalArguments.modal_title = 'Add a new book';
                this.toggleModal();
            },
            /**
             * @public
             * @description
             * Gets existing books
             */
            getBooks() {
                axios.get('/books')
                .then(response => {
                   this.books = response.data.books;
                })
                .catch(error => {
                    this.alertMessage = error.response.data.message;
                });
            },
            /**
             * @public
             * @description
             * Returns a string of tags with commas in between
             */
            displayTags(tags) {
                let return_string = '';
                for(let i = 0; i < tags.length; i++) {
                    if(i < tags.length - 1) {
                        return_string = return_string + tags[i]['name'] + ', ';
                    } else {
                        return_string = return_string + tags[i]['name'];
                    }
                }
                return return_string;
            },
            /**
             * @public
             * @description
             * Deletes a book
             */
            deleteBook(id) {
                axios.delete('/books/delete/' + id)
                .then(response => {
                   this.getBooks();
                })
                .catch(error => {
                    this.alertMessage = error.response.data.message;
                });
            },
            /**
             * @public
             * @description
             * Toggles the modalShowing variable
             */
            toggleModal() {
                this.modalShowing = !this.modalShowing;
            },
            /**
             * @public
             * @description
             * Takes action on closing of the modal
             */
            modalHidden() {
                this.modalShowing = false;
                this.getBooks();
            }
        }
    }
</script>

<style lang="scss">
    div.books-container {

        td.action-buttons {
                span {
                    cursor: pointer;
                }
            }
    }
</style>
